@import "tailwindcss";

@theme {
  --color-gray-400: #A7B9CB;
  --color-gray-100: #E1E8EE;

  --color-blue-950: #00252E;

  --color-pink-400: #FF52C1;

  --color-purple-700: #684BB1;

  --color-magenta-400: #E880E8;

  --font-sans: "Open Sans", sans-serif;
  --font-poppins: "Poppins", Arial;
  --text-base: 16px;
  --leading-base: 150%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Open Sans", sans-serif;
}